<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>选择</h1>
<div>
<span>  <a href="http://127.0.0.1:8081/app1/index" >系统A </a></span>
</div>
<div>
    <span>  <a href="http://127.0.0.1:8082/app2/index" >系统B </a></span>
</div>
<!--<div>-->
<!--    <span>  <a href="http://127.0.0.1:8081/app1/index" >测试a </a></span>-->
<!--</div>-->
<!--<div>-->
<!--    <span>  <a href="http://127.0.0.1:8080/app2/index" >系统B </a></span>-->
<!--</div>-->
<!--<div>-->
<!--    <span>  <a href="http://localhost:8080/login.html" >点击登录 </a></span>-->
<!--</div>-->
</body>
</html>